.select-item-info-container {
  margin: 0;
  padding: 0;
}

.item-info-area {
  display: flex;
  flex-direction: column;
  margin: 24px 20px 20px 20px;

}

.item-info-name-font {
  display: block;
  margin-bottom: 24px;
  color: #000;

  /* H1-1_34 */
  font-family: SUIT;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 100% */
}

.item-info-detail-font {
  display: block;
  color: var(--black, #000);
  font-family: SUIT;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 100% */
}

.item-info-vat-font {
  display: block;
  color: var(--black, #000);
  font-family: SUIT;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}

.item-bottom-area {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  padding-right: 20px;
}