
.grid-body {
  display: grid;
  grid-template-columns: 57% 43%;
}

.grid-header-start {
  width: 100%;
  height: 100%;
  background-color: #61dafb;
}

.grid-header-end {
  width: 100%;
  height: 100%;
  background-color: #A6A6A6;
}